<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EarnLot.plist
   EarnBoardLot

   Created by lsb on 2016/9/30.
   Copyright (c) 2016年 lsb. All rights reserved.
-->
<!--<plist version="1.0">-->
<!--    <dict>-->
<!--        <key>items</key>-->
<!--        <array>-->
<!--            <dict>-->
<!--                <key>assets</key>-->
<!--                <array>-->
<!--                <key>kind</key>-->
<!--                <string>software-package</string>-->
<!--                <key>url</key>-->
<!--                <string>http://www.zhuan.quzhidian.com/zhuan.ipa</string>-->
<!--            </dict>-->
<!--            -->
<!--            <dict>-->
<!--                <key>kind</key>-->
<!--                <string>display-image</string>-->
<!--                <key>url</key>-->
<!--                <string>http://www.zhuan.quzhidian.com/img/iOS-logo-57.png</string>-->
<!--            </dict>-->
<!--            <dict>-->
<!--                <key>kind</key>-->
<!--                <string>full-size-image</string>-->
<!--                <key>url</key>-->
<!--                <string>http://www.zhuan.quzhidian.com/img/iOS-logo-512.png</string>-->
<!--            </dict>-->
<!--            </arrray>-->
<!--        </array>-->
<!--        <key>metadata</key>-->
<!--            <dict>-->
<!--                <key>bundle-indentifier</key>-->
<!--                <string>com.waterwin.EarnBoardLot</string>-->
<!--                <key>bundle-version</key>-->
<!--                <string>1.0</string>-->
<!--                <key>kind</key>-->
<!--                <string>software</string>-->
<!--                <key>title</key>-->
<!--                <string>赚一手</string>-->
<!--                        -->
<!--            </dict>-->
<!--    -->
<!--    </dict>-->
<!--</plist>-->


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://www.zhuan.quzhidian.com/zhuan.ipa</string>
                    </dict>
                    
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.waterwin.EarnBoardLot</string>
                    <key>bundle-version</key>
                    <string>1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>赚一手</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
